.jumbotron {
    position: relative;
    overflow: hidden;
    background-color: black;
    top: 0;
    max-width: 100%;
    height: 65vh;
    margin-bottom: 0px;
}

.jumbotron video {
    position: absolute;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
}

.jumbotron .container {
    z-index: 2;
    position: relative;
    top: 30%;
    color: #fff;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
}

a.bme {
    background: #f37721;
    padding: 20px;
    color: #fff;
    text-decoration: none;
}

a.clse {
    background: #ed2b2e;
    padding: 20px;
    color: #fff;
    text-decoration: none;
}

a.cs {
    background: #77c058;
    padding: 20px;
    color: #fff;
    text-decoration: none;
}

a.ece {
    background: #00b2bb;
    padding: 20px;
    color: #fff;
    text-decoration: none;
}

a.mne {
    background: #4186c6;
    padding: 20px;
    color: #fff;
    text-decoration: none;
}

.grid a:hover {
    background: #111;
    color: #ffb300;
}

.story-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    margin-bottom: 50px;
}

.story-grid h2 a:hover {
    color: #ffb300;
    text-decoration: none;
}
.gold-block {
    background: #ffb300;
    padding: 50px;
}

.gold-block p {
    margin-bottom: 0px;
    font-size: 30px;
}

.gold-block span {
    font-size: 40px;
    color: #fff;
}

.gold-block span:last-of-type {
    margin-left: 10px;
}

.gold-block .attr {
    font-size: 20px;
    font-weight: 700;
    margin-top: 5px;
}

.white {
    color: #fff;
}

.container .row {
    margin-bottom: 50px;
}

.container .row:first-of-type {
    margin-top: 50px
}

#content {
    margin-bottom: 0px;
}
.story-title {
    line-height: 1.2;
    margin: 10px 0px;
    font-size: 20px;
}
.dept-date {
    color: #555;
    font-size: 15px;
}
.dept-date > a {
    color: #555;
    font-size: 15px;
    font-weight: inherit;
    border-bottom: 1px dotted #ccc;
}
.dept-date > a:hover {
    border-bottom: 1px solid #ccc;
    text-decoration: none;
}
@media screen and (max-width:997px) {
    .grid,
    .story-grid {
        grid-template-columns: 1fr;

    }
}
